@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../assets/fonts/static/PublicSans-Regular.ttf") format("truetype");
  unicode-range: U+20-7E; /* Covers basic Latin, including $ */
}

@font-face {
  font-family: "Public Sans Bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../assets/fonts/static/PublicSans-Bold.ttf") format("truetype");
  unicode-range: U+20-7E; /* Covers basic Latin, including $ */
}
